.span-header{
    text-align: left;
    width: 90%;
    margin-left: 5px;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.orange-line {
  width: 100%;
  border-bottom: 3px solid;
  border-bottom-color: #FF5F00;
}